                /*styling body*/
                body{
                    background-color: maroon;
                    font-family: 'Times New Roman';
                    overflow:visible;
                    margin: 0;
                    font-family: 'calibri body';
                    padding-top: 30px;
                    padding-left: 30px;
                }

                /*styling name*/
                #name{
                    font-size: xx-large;
                }

                /*stling the profile*/
                me{
                    float: right;
                    height: 910px;
                    width: 700px;
                    background-color: #ffff;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,2), 0 6px 20px 0 rgba(0,0,0,20);
                }

                /*syling main heading*/
                #main{
                    border: solid black;
                    padding-left: 800px;
                    background-color: lightsalmon;
                }

                /*styling the projects done section*/
                #dairy, #virt, #band, #kitchen{
                    background-color: lime;
                    margin-bottom: px;
                    float: inline-end;
                    font-size: 20px;
                    justify-content: right;
                    padding-right: 400px;
                    border: lime solid 20px;
                }


                /*style the about me section*/
                #aboutme{
                    padding-left: 400px;
                    background-color: burlywood;
                }

                /*styling the navigation*/
                nav{
                    max-width: 960px;
                    margin: 0 auto;
                    padding: 10px 0;
                    margin-right: 0%;
                }
                
                
                nav>ul{
                    text-align: right;
                }
                
                
                nav>ul>li{
                    display: inline-block;
                }
                
                
                nav>ul>li>a {
                    padding: 18px;
                    margin-right: 0;
                    text-transform: uppercase;
                    text-decoration:none;
                    display: block;
                    color: rgba(255, 255, 255, 0.733);
                }
                
                
                nav>ul>li>a:hover{
                    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
                    background: rgba(221, 109, 35, 0.678);
                    color: rgba(o, 35, 122, 0.7);
                }
